/* Global Reset and Defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.5;
    color: #080605;
    background: url('../images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.small-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.name {
    font-size: 1.5em;
    color: #3e362e;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left: auto;
    color: #3e362e;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #3e362e;
    font-size: 18px;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: #e85a4f;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 100px; /* Adjusted for the fixed header */
}
.about-text h2{
    color: #3e362e
}

.about-content {
    background: rgba(255, 255, 255, 0.547);
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.skills {
    margin-top: 20px;
    text-align: left;
}

.tech-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 10px;
}

.tech-icons img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 5px;
}
.tech-icons h3 {
    display:flex;
    flex-direction: column-reverse;
}

.skills h3 {
    color: #e85a4f;
    font-size: 1.5em;
    margin-bottom: 10px;
   
}

.skills p {
    color: #3e362e;
    font-weight: bold;
    text-align: justify;
}
@media (max-width: 768px) {
    
    nav {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        font-size: 16px;
        padding: 10px 0;
    }
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        margin-top: 300px; /* Adjusted for the fixed header */
    }
}
